{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig' %}

{% block body %}
    <div class="contentwrapper">
        <h1>Ik ga op kamp en ik neem mee ... Plan-Eet!</h1>
        <div class="cardwrapper">
            <div class="w3-card step">
                <h3>Hoi!</h3>
                <p>Ik ben Jana en al 18 jaar lang mag ik mezelf, met trots, een diggievrijwilliger noemen. Diggie, dat is een kinderboerderij in de Vlaamse Ardennen.</p>
                <p>Meestal ga ik daar om te koken, tijdens jeugdkampen of weekends. Supertof!</p>
                <p>Helaas, het voorbereiden van een lekker en toegankelijk kampmenu en het bestellen van de ingrediënten, dat duurt áltijd langer dan ik zou willen.</p>
                <p>Ik droom al een tijdje van een plannings-tool voor maaltijden en boodschappen op kamp. Er zijn veel apps die je helpen bij het maken van boodschappenlijstjes, maar niets voldoet helemaal aan wat ik nodig had.</p>
                <p>Dus, dacht ik: waarom dit niet zelf maken, dan?</p>
                <p>Sinds juni 2019 volg ik een omscholingstraject tot programmeur. Toen werd het allemaal concreter. Ik schreef en herschreef projectplannen en user stories. Ik moest prioriteiten kiezen. Ik koos de tools en volgde tutorials om de juiste skills onder de knie te krijgen.</p>
                <p>En toen moest ik springen en er écht aan beginnen ...</p>
                <p>Deze app is nog volop in ontwikkeling, en werkt dus nog niet hélemaal hoe het hoort ;-) .</p>

                <a href="http://www.janaverlinde.be/" target="_blank" rel="noopener noreferrer"class="w3-margin w3-button w3-border"><i class="fas fa-home"></i> Bezoek mijn website</a>
                <a href="http://www.diggie.be/" target="_blank" rel="noopener noreferrer" class="w3-margin w3-button w3-border"><i class="fas fa-horse"></i> Kinderboerderij Diggie</a>
                <a href="http://www.janaverlinde.be/" target="_blank" rel="noopener noreferrer" class="w3-margin w3-button w3-border"><i class="fab fa-facebook"></i> Plan-Eet op facebook</a>
            </div>
        </div>
    </div>
{% endblock %}