body{
  min-height: 100vh;
  font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

h1{
  color: white;
}

a{
  text-decoration: none;
}

.contentwrapper{
  margin: 75px;
  min-height: 70vh;
}