{% extends 'base.html.twig' %}

{% block title %}Hello AddRecipeController!{% endblock %}

{% block body %}
    <form action={{ path('add_recipe') }}>
        <input type="submit" value="voeg een recept toe">
    </form>
    <form action={{ path('add_ingredient') }}>
        <input type="submit" value="voeg een ingredient toe">
    </form>
{% endblock %}
