{% extends 'base.html.twig' %}

{% block title %}Hello AddRecipeController!{% endblock %}

{% block body %}
    <form action="./createRecipe.html">
        <input type="submit" value="voeg een recept toe">
    </form>
{% endblock %}
