{% extends 'base.html.twig' %}

{% block title %}Hello AddRecipeController!{% endblock %}

{% block body %}
    <div class="contentwrapper">
        <a href="{{ path('add_recipe') }}">
            <button class="w3-button w3-round-xxlarge w3-purple">voeg een recept toe</button>
        </a>
        <a href="{{ path('add_ingredient') }}">
            <button class="w3-button w3-round-xxlarge w3-purple">voeg een ingredient toe</button>
        </a>
    </div>
{% endblock %}