{% extends 'base.html.twig' %}

{% block title %}Hello AddRecipeController!{% endblock %}

{% block body %}
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px;max-height:100vh;overflow:hidden" id="home">
        <img class="w3-image" src="{{ asset('img/hero2.jpg') }}" alt="Hamburger Catering" width="1600" height="800">
        <div class="contentwrapper">
        <div class="w3-display-bottomleft w3-padding-large w3-opacity">
            <h1>Plan je kampmenu in enkele klikken</h1>
        </div>
    </header>
{% endblock %}
