{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig'%}

{% block body %}
    <div class="contentwrapper">
        <h1>bekijk alle recepten</h1>
        
        <div class="cardwrapper">
            <div class="w3-card step">
                {% block filtertable %}
                    {{ parent() }}
                {% endblock %}
                {% block table_all_recipes %}
                    {% set recipes = values %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sorttable.js') }}"></script>
{% endblock %} 
