{% block filtertable %}
    <div class="search d-flex">
        <input type="text" class="w3-input search" placeholder="filter ...">
        <input type="text" class="w3-input search" placeholder="filter ...">
        <input type="text" class="w3-input search" placeholder="filter ...">
        <input type="text" class="w3-input search" placeholder="filter ...">
    </div>
    {# <button class="w3-button w3-light-grey w3-section addSearchFields">Voeg extra zoekvelden toe <i class="fas fa-plus-square"></i></button> #}
{% endblock %}