{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig' %}

{% block body %}
    <div class="contentwrapper">
        <h1>alle gebruikers</h1>
        <div class="cardwrapper">
            <div class="w3-card step horScrollbox">
                {% block filtertable %}
                    {{ parent() }}
                {% endblock %}
                <div id="users"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sorttable.js') }}"></script>
{% endblock %} 